

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    height: 100dvh;
    background-color:lightgray;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:"header"
                        "main"
                        "footer";

}
header{
    grid-area: header;
    max-width: 100%;
    height: 50px;
    display: flex;
    /*justify-content: center;*/
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    background-color: darkgray;

}

.cat-icons{
    display: flex;
    gap: 20px;
}

.hidden{
    display: none;
}

header h1{
    margin-right: auto;
}

main{
    grid-area: main;
    margin-top: 10px;
}

header span{
    font-size: 30px !important;

}

.categories,.categories-news{
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: auto;
  
    
}
.categories *,.categories-news *{
    min-width: 300px;
    min-height: 40px;
}



.outlet{
    width: 95%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    
}
.outletwrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ad-right, .ad-left{
    display: none;
}

.colour-visual{
    display: flex;
    flex-wrap: nowrap;
}

.colour-carousel{
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: auto;
}

.colour-carousel *{
    min-width: 90px;
    min-height: 40px;
}

.dog-carousel{
    display: none;
}

.size{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

#size_select{
    width: 350px;
}

.put_in_basket{
    display: flex;
    justify-content: center;
    margin:10px 0 10px 0 ;
}


.put_in_basket button{
    text-decoration: none;
    border: none;
    min-width: 350px;
    min-height:50px ;
    border-radius: 10px;
    background-color: rgb(5, 71, 19);
    color: azure;
}

.basket_nasket{
    display: flex;
    justify-content:flex-start;
    margin: 10px 0 10px 10px;
}

.basket_grid{
    display: grid;
}

.basket_item{
    display: grid;
    grid-template-areas:'a b c'
                        'a d f';
    margin: 5px 10px 5px 10px;
}

.basket_item_image{
    grid-area: a;
    width: 100px;
}

.basket_info{
    grid-area: b;
    padding-left: 2px;
}

.basket_number_items{
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash{
    grid-area: c;
    display: flex;
    justify-content: flex-end;

}

.basket_item_price{
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordreoversikt{
    margin: 5px 10px 5px 10px;
    
}

.delivery_options{
    display: flex;
    justify-content: center;
}



.basket_finalize{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:'a b'
                        'c d'
                        'e e'
                        'e e';
    margin: 5px 10px 5px 10px;   
}

.basket_finalize *{
    margin-top: 0.5rem;
}

#item_1{
    grid-area: a;
    border-bottom: 1px solid black;
}

#item_1_price{
    grid-area: b;
    text-align: right;
    border-bottom: 1px solid black;
}

#total_amount{
    grid-area: c;
}

#total_amount_1{
    grid-area: d;
    text-align: right;
}

.go_to_checkout{
    display: flex;
    flex-direction: column;
    grid-area: e;
    gap: 5px;
    margin-bottom: 40px;
}

.go_to_checkout button{
    flex:1 0 100%;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(5, 71, 19);
    color: azure;
}

.ad{
    margin:  5px 10px 5px 10px;
}

.ad_elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.spacer{
    flex: 1 1;
}
footer{
    height: 10px;
    text-align: center;
    border-top: 1px solid gray;
}

img{
    width: 100%;
}

@media only screen and (min-width: 600px) {
    header{
        justify-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;        
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
    }

    .hidden{
        display: flex;
        font-weight: bold;
    }

    #navicon{
        display: none;
    }
    
    header span{
        justify-self: flex-end;
    }

    header h1{
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    
    main{
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 3fr 3fr 3fr 3fr 2fr;
        grid-template-areas:'a x x x x x x h'
                            'a b c d e f g h'
                            'a q q q q q q h'
                            'a i j k l m n h';
        grid-template-rows: 2rem auto auto auto;
        gap: 10px;
    }

    main h2,.categories{
        display: none;
    }

    .default-flex{
        grid-area: b / b / b / d;
    }

    .default-flex article img{
        max-width: 100%;
        height: auto;
        
    }

    .outletwrapper{
        grid-area: b / e / b / g;
    }

    .outlet{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: brown;
    }
    .categories-news{
        grid-area: i / i / n / n ;
        display: flex;
        justify-content: space-evenly;
        align-self: center;
    }
    
    .autumn-news{
        display: flex;
        grid-area: q;
        justify-self: center;
    }

    .ad-left{
        display: flex;
        grid-area: a;
        background-color: aqua;
        justify-content: center;
        align-items: center;
    }

    .ad-right{
        display: flex;
        grid-area: h;
        background-color: aqua;
        justify-content: center;
        align-items: center;
    }

    .dog-supersko{
        grid-area: b / b / b / d;
    }

    .dog-supersko article img{
        max-width: 800px;
        height: auto;
    }

    .dog-carousel{
        display: flex;
        grid-area: i / b / i / k;
        gap: 10px;
    }

    .supersko-work{
        grid-area: f / f / g / g;
        align-self: center;
        justify-self: center;
    }

    .supersko-price-window{
        font-size: x-large;
        font-weight: bold;
    }

    .supersko-price-value{
        font-size: x-large;
    }

    .dog-name-price{
        margin-bottom: 15rem;
    }

    .product_information{
        grid-area: m / m / n / n;
    }

    .produktinformasjon{
        text-align: center;
        font-weight: bold;
    }

    .product_information table{
        width: 100%;
    }

    .shop_final{
        display: flex;
        grid-area: f / f / n / n;
        flex-direction:column;
        outline: 1px solid black;
    }
    
    .delivery_options{
        order: -1;
        outline: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .ordreoversikt{
        display: flex;
        outline: 1px solid black;
        justify-content: center;
        margin: 0 0 2rem 0;
    }
    
    .basket_finalize{
        margin-top: 10px;
        line-height: 2rem;
    }
    
    .go_to_checkout{
        margin-top: 20px;
    }
    
    .push{
        flex: 1 0;
    }
    
    .basket_nasket{
        grid-area: x;
        min-height:20px;
        border-bottom: 1px solid black;
    }

    .basket_grid{
        grid-area: b / b / q / e;
        grid-template-rows:min-content;
    }

    .basket_item{
        grid-template-areas:'a b c d'
                            'a b e d ';
        max-height: 200px;
        gap: 1rem;
        border-bottom: 1px solid grey;
    }

    .basket_info{
        grid-area:b;
        align-self: center;
    }

    .basket_item_image{
        grid-area: a;
        width: 200px;
    }

    .basket_number_items{
        grid-area: c;
        align-self: flex-end;
    }

    .basket_item_price{
        grid-area: d;
    }

    .trash{
        grid-area: e;
        align-self: flex-start;
        justify-self: center;
        font-size: x-large;
    }

    .basket_item img{
        max-height: 200px;
    }

    .ad{
        grid-area: i / i / l / l;
        
    }

    .ad_elements{
        grid-template-areas:'a b c d';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;

    }



}   
